# Web Framework
fastapi==0.111.0
uvicorn[standard]==0.27.0
python-multipart==0.0.9

# Database & ORM
sqlalchemy==2.0.25
psycopg2-binary
alembic==1.13.1  # For DB migrations

# AI & Vector DB
sentence-transformers==2.3.1
chromadb==1.4.1
groq
torch==2.3.0
torchvision==0.18.0
bcrypt==4.1.3
cryptography==42.0.8

# PDF Processing
pypdf==4.0.1
pdfplumber==0.10.3

# Caching & Utils
redis==5.0.7
pydantic==2.9.0
pydantic-settings
python-dotenv==1.0.1
aiofiles==23.2.1